video {
  visibility: hidden;
}


div.container {
	width: 100%;
	height: 100vh;
	// margin: 5% auto 0;
  position: relative;
  background: #333;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  overflow: hidden;
  margin-top: -56px;
  padding: 0 !important;
}

.footer{
  position: absolute;
  // height: 150px;
  bottom: 0;
  width: 100%;
  padding: 0;
  ion-fab{
    left:42%;
    margin-top : 22%;
  }
}



ion-icon.2x{
  font-size: 1.4em !important;
}

button:active,button:focus,button:visited{
  outline:none;
}

#playstation
{                                     
background: transparent;
border-radius: 20px;
// height: 400px;
// border: 1px solid #c1c1c1;
overflow:auto;
margin-top:70px;
}

#controlpanel
{
// padding:50px 25px 15px;
overflow:auto;
position:relative;
}
#songpro
{
width: 180px;
height: 180px;
border-radius: 50%;
border: 1px solid #eaeaea;
position: relative;
// margin: 0 0px 0px 23px;
margin:0 20px;
// background: url("../assets/imgs/music.jpg") no-repeat 0 0;
background-repeat: no-repeat;
background-position: 0 0; 
background-size: 180px 180px;
box-shadow: inset 0px 0px 10px 2px #5f5f5f;
}

#backward, #forward
{
// content: "fa-backward";
z-index: 6;
width: 60px;
height: 60px;
border-radius: 50%;
margin-top: 67px;
border: 1px solid #eaeaea;
background: transparent;
box-shadow: 0px 0px 5px #e9e9e9,inset 0px 2px 0px #fdfdfd;
cursor:pointer;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}
#backward{float:left;}
#forward{float:right;}

#backward:hover, #forward:hover
{
box-shadow: 0px 0px 0px #cacaca,inset 0px 2px 0px #fdfdfd;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}
#backward:hover ion-icon
{
text-shadow:0px 2px 0px #cacaca;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}

#forward:hover ion-icon
{
text-shadow:0px 2px 0px #cacaca;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}

ion-icon
{
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
} 

#backward ion-icon, #forward ion-icon{margin:14px 0px 0px 5px;}
#backward ion-icon{margin:14px 0px 0px 5px;}

.inlineblo{display:inline-block;}

ion-icon{color:#666666;font-size:1.5em;}


.text-center{
  text-align: center;
  color: white;
  font-size: 16px;
}

ion-spinner * {
  width: 40px;
  height: 40px;
  stroke: #efefef !important;
  fill: #333 !important;
  
}

.spinner-cont{
  z-index: 10;
  position: absolute !important;
  top: 40%;
  left:45%;
}

.toolbar-title-md{
  // color:#F95738 !important;
  color: white !important;
}

ion-header,.header{
  background-color:rgba(0,0,0,0.5) !important;
}



/** Start of animation*/

.player {
  position: relative;
  width: 22em;
  min-height: 22em;
  overflow: hidden;
  padding-top: 10px;
  border-radius: 0.25em;
  // margin-top: 15%;
}

.album {
  position: relative;
  left: 4%;
  width: 20em;
  height: 20em;
  margin-bottom: -13%;
  overflow: hidden;
  transform: translate3d(-50%,-25%,-25%);
  background-color: #111;
  border: 1px solid #111;
  border-radius: 50%;
  box-shadow:
    0 0.0625em 0.1875em rgba(0,0,0,0.5),
    0 0 0.125em 0.3125em #ddd,
    0 0.0625em 0 0.375em #bbb,
    0 0 0.375em 0.325em rgba(0,0,0,0.3),
    0 0 0.5em 0.375em rgba(0,0,0,0.3),
    0 0.25em 1em 0.5em rgba(0,0,0,0.15),
    inset 0 0 0 0.0625em rgba(0,0,0,0.5),
    inset 0 0 0 0.1875em rgba(255,255,255,1),
    inset 0 0 0 0.375em rgba(0,0,0,0.5),
    inset 0 0 0 0.4375em rgba(255,255,255,0.2),
    inset 0 0 0 0.5em rgba(0,0,0,0.5),
    inset 0 0 0 0.5625em rgba(255,255,255,0.3),
    inset 0 0 0 0.625em rgba(0,0,0,0.5),
    inset 0 0 0 0.6875em rgba(255,255,255,0.2),
    inset 0 0 0 0.75em rgba(0,0,0,0.5),
    inset 0 0 0 0.8125em rgba(255,255,255,0.3),
    inset 0 0 0 0.875em rgba(0,0,0,0.5),
    inset 0 0 0 0.9375em rgba(255,255,255,0.3),
    inset 0 0 0 1em rgba(0,0,0,0.5),
    inset 0 0 0 1.0625em rgba(255,255,255,0.2),
    inset 0 0 0 1.125em rgba(0,0,0,0.5),
    inset 0 0 0 1.1875em rgba(255,255,255,0.3),
    inset 0 0 0 1.25em rgba(0,0,0,0.5),
    inset 0 0 0 1.3125em rgba(255,255,255,0.2),
    inset 0 0 0 1.375em rgba(255,255,255,0.2),
    inset 0 0 0 1.4375em rgba(0,0,0,0.5),
    inset 0 0 0 1.5em rgba(255,255,255,0.3),
    inset 0 0 0 1.5625em rgba(0,0,0,0.5),
    inset 0 0 0 1.625em rgba(255,255,255,0.3),
    inset 0 0 0 1.6875em rgba(0,0,0,0.5),
    inset 0 0 0 1.75em rgba(255,255,255,0.2),
    inset 0 0 0 1.8125em rgba(0,0,0,0.5),
    inset 0 0 0 1.875em rgba(255,255,255,0.2),
    inset 0 0 0 1.9375em rgba(0,0,0,0.5),
    inset 0 0 0 2em rgba(255,255,255,0.3),
    inset 0 0 0 2.0625em rgba(0,0,0,0.5),
    inset 0 0 0 2.125em rgba(0,0,0,0.5),
    inset 0 0 0 2.1875em rgba(255,255,255,0.1),
    inset 0 0 0 2.25em rgba(0,0,0,0.5),
    inset 0 0 0 2.3125em rgba(255,255,255,0.2),
    inset 0 0 0 2.375em rgba(255,255,255,0.1),
    inset 0 0 0 2.4375em rgba(0,0,0,0.5),
    inset 0 0 0 2.5em rgba(255,255,255,0.3),
    inset 0 0 0 2.5625em rgba(0,0,0,0.5),
    inset 0 0 0 2.625em rgba(255,255,255,0.2),
    inset 0 0 0 2.6875em rgba(0,0,0,0.5),
    inset 0 0 0 2.75em rgba(255,255,255,0.2),
    inset 0 0 0 2.8125em rgba(0,0,0,0.5),
    inset 0 0 0 2.875em rgba(255,255,255,0.2),
    inset 0 0 0 2.9375em rgba(0,0,0,0.5),
    inset 0 0 0 3em rgba(255,255,255,0.3),
    inset 0 0 0 3.0625em rgba(0,0,0,0.5),
    inset 0 0 0 3.125em rgba(0,0,0,0.5),
    inset 0 0 0 3.1875em rgba(255,255,255,0.2),
    inset 0 0 0 3.25em rgba(0,0,0,0.5),
    inset 0 0 0 3.3125em rgba(255,255,255,0.2),
    inset 0 0 0 3.375em rgba(255,255,255,0.1),
    inset 0 0 0 3.4375em rgba(0,0,0,0.5),
    inset 0 0 0 3.5em rgba(255,255,255,0.3);
}

.album::after {
  content: '';
  position: absolute;
  // top: 50%;
  // left: 50%;
  width: 100%;
  height: 100%;
  transform: translate3d(-50%,-50%,-50%);
  background-image:
    linear-gradient(
      -45deg,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0.125),
      rgba(255,255,255,0) 70%
    ),
    linear-gradient(
      -48deg,
      rgba(255,255,255,0) 45%,
      rgba(255,255,255,0.075),
      rgba(255,255,255,0) 55%
    ),
    linear-gradient(
      -42deg,
      rgba(255,255,255,0) 45%,
      rgba(255,255,255,0.075),
      rgba(255,255,255,0) 55%
    ),
    radial-gradient(
      circle at top left,
      rgba(0,0,0,1) 20%,
      rgba(0,0,0,0) 80%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0,0,0,1) 20%,
      rgba(0,0,0,0) 80%
    );
}

.cover,
.cover div {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 70px;
  width: 14em;
  height: 14em;
  // overflow: hidden;
  transform-origin: 0 0;
  transform: rotate(0) translate3d(-50%,-50%,-50%);
  border-radius: 50%;
  animation: spin 4s linear infinite paused;
}

.ffing .cover {
  animation-play-state: running;
}

.cover div {
  border-radius: 0;
  animation: spin 2s linear infinite reverse paused;
}

.rwing .cover div {
  animation: spin 2s linear infinite reverse running;
}


.cover::before,
.cover::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 70px;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transform: rotate(0) translate3d(-50%,-50%,-50%);
  border-radius: 50%;
  box-shadow: inset 0 0.0625em rgba(255,255,255,0.3);
  animation: spin 4s linear infinite reverse paused;
}

.cover::after {
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.0625em;
  background-color: #eee;
  border-radius: 0.5em;
  box-shadow:
    inset 0 -0.0625em 0.0625em rgba(0,0,0,0.5),
    inset 0.0625em -0.0625em 0.125em rgba(255,255,255,0.15),
    inset -0.0625em -0.0625em 0.125em rgba(255,255,255,0.15),
    inset 0 -0.125em 0.125em rgba(0,0,0,0.8),
    0 0.0625em 0.0625em rgba(0,0,0,0.5),
    0 0.0625em 0.25em 0.0625em rgba(0,0,0,0.15),
    0 0 0.25em 0.125em rgba(0,0,0,0.15);
}

.ffing .cover::before,
.ffing .cover::after {
  animation-play-state: running;
}

.cover img {
  position: absolute;
  top: 100px;
  left: 98px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transform: rotate(0) translate(-50%,-50%);
  animation: spin 4s linear infinite paused;
}

.paused .cover img {
  animation-play-state: paused;
}

.playing .cover img {
  animation-play-state: running;
}

/** End of animation*/

.cust-top-2{
  margin-top:16px;
}


canvas{
  z-index:-1 !important;
  width: 100%;
  // height: 80vh;
  position: fixed;
  bottom: 0%;
}

@keyframes spin {
  100% { transform: rotate(360deg) translate(-50%,-50%); }
}
